version: "3.7"
services:
  website:
    container_name: desafio-walmart-web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ".:/app"
      - "/app/node_modules"
    environment:
      - NODE_ENV=development
      - REACT_APP_API_WALMART=http://localhost:8000
